:root {
  --test: magenta;
  --dGrey: rgb(78, 78, 78);
  --lGrey: #4e4e4e80;
  --dBlue: #59A0D9;
  --lBlue: #00B1FF;
  --offBlue: rgba(89, 160, 217, 0.1);
  --lGreen: #54DB00;
  --white: #fff;
  --offWhite: #F5F5F5;
  --font-size1: 3em;
  --font-size2: 1em;
  --font-size3: 0.75em;
  --muli: 'Muli', sans-serif;
  --shadow: 0 0 6px rgba(0,0,0,0.16);
  --baseTime: 300ms;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--muli);
  box-sizing: border-box;
}
ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: var(--font-size1);
  font-weight: 900;
  color: var(--dGrey);
}
/* Nav styles */
body > nav {
  width: 100%;
  background: var(--white);
  box-shadow: var(--shadow);
  box-sizing: border-box;
}
body > nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  color: var(--dBlue);
}
body > nav ul li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  padding: 1em 2em;
}
body > nav ul li{
  position: relative;
}
body > nav ul li:after {
  position: absolute;
  height: 2px;
  background: var(--dBlue);
  width: 0;
  content: '';
  bottom: 0;
  transition: var(--baseTime);
}
body > nav ul li:hover:after, body > nav ul li:focus-within:after{
  width: 100%;
}
body > nav ul li a:focus {
  outline: none;
}
/* Form styles */
a, label {
  color: var(--lGrey);
}
body > form {
  margin-top: 10em;
  display: grid;
  box-sizing: border-box;
  place-items: center center;
}
form legend {
  text-align: center;
  font-weight: 900;
  font-size: var(--font-size1);
  margin-bottom: 1.5em;
}
form fieldset > label {
  display: none;
}
fieldset {
  max-width: 500px;
  width: 95%;
  border: none;
  display: grid;
}
fieldset > div {
  display: flex;
  margin-top: 1em;
}
fieldset div a {
  margin-left: auto;
}
fieldset button {
  margin-top: 2em;
}
fieldset > a {
  text-align: center;
  margin-top: 1em;
}

/* inputs */
input {
  box-sizing: border-box;
  transition: var(--baseTime);
}
input[type='email'], input[type='password'] {
  border: 0;
  border-bottom: 1px solid var(--lGrey);
  width: 100%;
  padding: 5px;
  font-size: var(--font-size2);
  font-family: var(--muli);
  color: var(--dGrey);
}
input[type='email']::-webkit-input-placeholder, input[type='password']::-webkit-input-placeholder {
  color: var(--lGrey);
}
input[type='email'] {
  margin-bottom: 2.5em;
}
input[type="submit"] {
  width: 100%;
  padding: 11px;
  background: var(--dBlue);
}
button, input[type='submit'] {
  background: var(--dBlue);
  border-radius: 100px;
  border: 0;
  padding: 1rem;
  width: 100%;
  color: var(--white);
  font-size: var(--font-size2);
  box-shadow: var(--shadow);
}

/* input states */
input:focus {
  outline: none;
}
input[type='email']:focus, input[type='password']:focus {
  border-color: var(--dGrey);
  border-width: 2px;
}
button:hover {
  background: var(--lBlue);
}
fieldset a:hover {
  color: var(--dGrey);
}

/* Chat */
body > section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 80%;
  margin: 0 auto;
  grid-gap: 1em;
  height: 70vh;
  margin-top: 10vh;
}
body > section > div {
  box-shadow: var(--shadow);
  background: var(--offWhite);
  display: flex;
  flex-direction: column;
}
body > section > div:nth-child(1) {
  height: 100%;
}
body > section > div header {
  display: grid;
  grid-gap: 1em;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-auto-flow: column;
  background: var(--white);
  padding: 0 1em;
}
/* body > section > div header h2 {
  position: relative;
  display: block;
}
body > section > div header h2:after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  background: var(--lGreen);
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 100px;
} */

/* left block */
body > section > div:nth-child(1) ol {
  padding: 0 4em;
  margin: 0;
  height: 90%;
  display: grid;
  align-content: end;
}
body > section > div ol li {
  background: var(--offBlue);
  border-radius: 10px;
  max-width: 320px;
  padding: 0.8em 1.4em; 
  position: relative;
}
body > section > div ol li:nth-child(even) {
  background: var(--dBlue);
  color: var(--white);
  margin-left: auto;
}
body > section > div ol li img {
  position: absolute;
  left: -3rem;
  bottom: 0;
}
body > section > div ol li:nth-child(even) img {
 right: -3em; 
 left: auto;
}
body > section > div footer form{
  display: grid;
  grid-template-columns: 9fr 2fr;
  padding: 1em;
  grid-gap: 1em;
}
body > section > div footer label {
  display: none;
}
body > section > div footer div textarea {
  border-radius: 100px;
  background: var(--white);
  border: 0;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(0,0,0,0.16);
  resize: none;
  font-size: var(--font-size2);
  padding-left: 2.5rem;
}
body > section > div footer div {
  position: relative;
}
body > section > div footer a {
  position: absolute;
  left: 0.6em;
  top: 50%;
  transform: translateY(-50%);
}
body > section > div footer button, body > section > div footer textarea {
  padding: 0.5em;
}
body > section img {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}

/* right block */
body > section > div:nth-child(2) ol li {
 width: 95%;
 box-sizing: border-box;
 margin: 0 auto;
 max-width: unset;
 background: transparent;
 color: var(--dGrey);
 padding: 1.5rem;
 border-radius: 0;
}
body > section > div:nth-child(2) ol li a {
  text-decoration: none;
  position: relative;
}
body > section > div:nth-child(2) ol li:nth-child(even) a:after {
  position: absolute;
  top: 0;
  right: -1rem;
  content: '';
  background: var(--lGreen);
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 100px;
}
body > section > div:nth-child(2) ol li:nth-child(2) {
  border-left: 8px solid var(--dBlue);
  margin: 0;
  width: 100%;
  background: var(--offBlue);
}
body > section > div:nth-child(2) ol li:last-child {
  border-top: 1px solid var(--lGrey);
}

/* Gallery */
body > header {
  max-width: 80%;
  margin: 2em auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
body > header figure {
  margin: 0;
}
body > header figure figcaption {
  font-size: var(--font-size3);
  color: var(--dGrey);
}
body > header img {
  width: 100%;
}
body > header div {
  padding: 2em 1em;
}
body > main {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 250px;
  grid-gap: 1em;
}
body > main article {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  overflow: hidden;
}
body > main article:hover a, body > main article a:focus{
  transform: translatey(0);
}
body > main article a:focus {
  border-bottom: 5px solid var(--dBlue);
}
body > main article img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body > main article img, body > main article a{
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
body > main article a {
  transform: translatey(100%);
  transition: var(--baseTime);
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}
body > main article h2 {
  margin: 0;
  color: white;
}
body > main article h2:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  z-index: -1;
}