:root {
  --test: magenta;
  --dGrey: rgb(78, 78, 78);
  --lGrey: #4e4e4e80;
  --dBlue: #59A0D9;
  --vdBlue: #005980;
  --lBlue: #00B1FF;
  --slBlue: #ABCFEB;
  --offBlue: rgba(89, 160, 217, 0.1);
  --lGreen: #54DB00;
  --white: #fff;
  --offWhite: #F5F5F5;
  --font-size1: 3em;
  --font-size2: 1em;
  --font-size3: 0.75em;
  --smaller1: 2em;
  --muli: 'Muli', sans-serif;
  --shadow: 0 0 6px rgba(0,0,0,0.16);
  --baseTime: 300ms;
}
@font-face {
  font-family: Ampersand;
  src: url('../fonts/MuktaMahee-SemiBold.ttf');
}
@font-face {
  font-family: FontAwesome;
  src: url('../fonts/FontAwesome.otf')
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--muli);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
h1::selection, h2::selection, h3::selection, p::selection, label::selection, a::selection, li::selection {
  background: var(--slBlue);
}
ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: var(--font-size1);
  font-weight: 900;
  color: var(--dGrey);
}
/* Nav styles */
body > nav {
  width: 100%;
  background: var(--white);
  box-shadow: var(--shadow);
  box-sizing: border-box;
}
body > nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  color: var(--dBlue);
}
body > nav ul li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  padding: 1em 2em;
}
body > nav ul li{
  position: relative;
}
body > nav ul li:after {
  position: absolute;
  height: 2px;
  background: var(--dBlue);
  width: 0;
  content: '';
  bottom: 0;
  transition: var(--baseTime);
}
body > nav ul li:hover:after, body > nav ul li:focus-within:after, body > nav ul li[aria-active="active"]:after {
  width: 100%;
}
body > nav ul li a:focus {
  outline: none;
}
body > nav > a, body > nav ul > a {
  display: none;
}
@media (max-width: 600px) {
  body > nav > a, body > nav ul > a {
    display: block;
  }
  body > nav ul {
    display: none;
  }
  body > nav ul:target {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    display: grid;
    place-items: center center;
  }
}
/* Modal styles */
body > div {
  height: 100%;
  width: 100%;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  place-items: center center;
  transition: opacity var(--baseTime);
}
body > div:target {
  opacity: 1;
  top: 0;
  left: 0;
}
body > div > a {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
}
/* modal trigger */
body > a {
  position: fixed;
  right: 0;
  top: 70%;
  background: linear-gradient(45deg, var(--lBlue), var(--vdBlue));
  padding: 1em 1.5em;
  border-radius: 10px 10px 0 0;
  transform: rotate(-90deg) translatey(-50%);
  transform-origin: right;
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
}
/* modal content */
body > div > div {
  background: var(--white);
  max-width: 360px;
  border-radius: 10px;
  transform: translateY(100vh);
  transition: var(--baseTime);
}
body > div:target > div{
  transform: translateY(0);
}
body > div > div header {
  background: linear-gradient(45deg, var(--lBlue), var(--vdBlue));
  width: 120%;
  transform: translate(-10%, -10%) rotate(355deg);
  box-sizing: border-box;
  padding: 2em 4.5em;
  border-radius: 10px;
}
body > div > div header h2 {
  text-align: center;
  transform: rotate(5deg);
  color: var(--white);
  font-weight: 900;
}
body > div > div form {
  position: relative;
}
body > div > div form fieldset {
  padding: 0;
}
body > div > div form ul {
  list-style: none;
  display: grid;
  grid-gap: 1.8em;
  grid-template-columns: repeat(5, 1fr);
  position: absolute;
  top: -2.5rem;
  transform: translatex(-10%);
}
body > div > div form ul li input[type="radio"] {
  position: absolute;
  left: -999;
  top: -999;
  opacity: 0;
}
body > div > div form ul li input[type="radio"]:checked + label {
  filter: brightness(1);
}
body > div > div form ul li label{
  text-decoration: none;
  color: black;
  font-size: 4em;
  filter: brightness(.4);
  position: relative;
  transition: var(--baseTime);
}
body > div > div form ul li label:before {
  content:'';
  position: absolute;
  top: -1.1rem;
  left: 50%;
  transform: translatex(-50%);
  font-size: 0.1875em;
  font-weight: 700;
  color: var(--white);
  word-wrap: nowrap;
}
body > div > div form ul li label:hover, body > div > div form ul li input:focus + label { /* TODO: fix focus state */
  filter: brightness(1);
}
body > div > div form ul li:nth-child(1) label:hover:before, body > div > div form ul li:nth-child(1) input[type="radio"]:checked + label:before, body > div > div form ul li:nth-child(1) input[type="radio"]:focus + label:before {
  content: 'Terrible';
}
body > div > div form ul li:nth-child(2) label:hover:before, body > div > div form ul li:nth-child(2) input[type="radio"]:checked + label:before, body > div > div form ul li:nth-child(2) input[type="radio"]:focus + label:before  {
  content: 'Bad';
}
body > div > div form ul li:nth-child(3) label:hover:before, body > div > div form ul li:nth-child(3) input[type="radio"]:checked + label:before, body > div > div form ul li:nth-child(3) input[type="radio"]:focus + label:before  {
  content: 'Meh';
}
body > div > div form ul li:nth-child(4) label:hover:before, body > div > div form ul li:nth-child(4) input[type="radio"]:checked + label:before, body > div > div form ul li:nth-child(4) input[type="radio"]:focus + label:before  {
  content: 'Good';
}
body > div > div form ul li:nth-child(5) label:hover:before, body > div > div form ul li:nth-child(5) input[type="radio"]:checked + label:before, body > div > div form ul li:nth-child(5) input[type="radio"]:focus + label:before  {
  content: 'Amazing';
}
body > div > div form input[type="submit"] {
  margin: 2rem auto 0 50%;
  transform: translate(-50%, 50%);
  width: auto;
  padding: 1em 2.5em;
}
/* Form styles */
a, label {
  color: var(--lGrey);
}
body > form {
  margin-top: 10em;
  display: grid;
  box-sizing: border-box;
  place-items: center center;
}
form legend {
  text-align: center;
  font-weight: 900;
  font-size: var(--font-size1);
  margin-bottom: 1.5em;
}
form fieldset > label {
  display: none;
}
fieldset {
  max-width: 500px;
  width: 95%;
  border: none;
  display: grid;
}
fieldset > div {
  display: flex;
  margin-top: 1em;
}
fieldset div a {
  margin-left: auto;
}
fieldset button {
  margin-top: 2em;
}
fieldset > a {
  text-align: center;
  margin-top: 1em;
}

/* inputs */
input {
  box-sizing: border-box;
  transition: var(--baseTime);
}
input[type='email'], input[type='password'] {
  border: 0;
  border-bottom: 1px solid var(--lGrey);
  width: 100%;
  padding: 5px;
  font-size: var(--font-size2);
  font-family: var(--muli);
  color: var(--dGrey);
}
input[type='email']::-webkit-input-placeholder, input[type='password']::-webkit-input-placeholder {
  color: var(--lGrey);
}
input[type='email'] {
  margin-bottom: 2.5em;
}
input[type="submit"] {
  width: 100%;
  padding: 11px;
  background: var(--dBlue);
}
button, input[type='submit'] {
  background: var(--dBlue);
  border-radius: 100px;
  border: 0;
  padding: 1rem;
  width: 100%;
  color: var(--white);
  font-size: var(--font-size2);
  box-shadow: var(--shadow);
}

/* input states */
input:focus {
  outline: none;
}
input[type='email']:focus, input[type='password']:focus {
  border-color: var(--dBlue);
  border-width: 2px;
}
button:hover, button:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  background: var(--lBlue);
}
fieldset a:hover {
  color: var(--dGrey);
}

/* Chat */
body > section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 80%;
  margin: 0 auto;
  grid-gap: 1em;
  height: 70vh;
  margin-top: 10vh;
}
body > section > div {
  box-shadow: var(--shadow);
  background: var(--offWhite);
  display: flex;
  flex-direction: column;
}
body > section > div:nth-child(1) {
  height: 100%;
}
body > section > div header {
  display: grid;
  grid-gap: 1em;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-auto-flow: column;
  background: var(--white);
  padding: 0 1em;
}
/* left block */
body > section > div:nth-child(1) ol {
  padding: 0 4em;
  margin: 0;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: end;
  overflow: hidden;
}
body > section > div:nth-child(1) ol li {
  transform: translateY(-100vh);
  animation: dropIn var(--baseTime) forwards;
  animation-timing-function: cubic-bezier(.17,.67,1,1.21);
  animation-delay: calc(var(--baseTime) * 3);
  margin: 0.5em 0;
}
body > section > div:nth-child(1) ol li:nth-child(2) {
  animation-delay: calc(var(--baseTime) * 2);
}
body > section > div:nth-child(1) ol li:nth-child(3) {
  animation-delay: var(--baseTime);
}
body > section > div ol li {
  background: var(--offBlue);
  border-radius: 10px;
  max-width: 320px;
  padding: 0.8em 1.4em; 
  position: relative;
}
body > section > div ol li:nth-child(even) {
  background: var(--dBlue);
  color: var(--white);
  margin-left: auto;
}
body > section > div ol li img {
  position: absolute;
  left: -3rem;
  bottom: 0;
}
body > section > div ol li:nth-child(even) img {
 right: -3em; 
 left: auto;
}
body > section > div footer form{
  display: grid;
  grid-template-columns: 9fr 2fr;
  padding: 1em;
  grid-gap: 1em;
}
body > section > div footer label {
  display: none;
}
body > section > div footer div textarea {
  border-radius: 100px;
  background: var(--white);
  border: 0;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(0,0,0,0.16);
  resize: none;
  font-size: var(--font-size2);
  padding-left: 2.5rem;
}
body > section > div footer div {
  position: relative;
}
body > section > div footer a {
  position: absolute;
  left: 0.6em;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
}
body > section > div footer button, body > section > div footer textarea {
  padding: 0.5em;
}
body > section img {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}

/* right block */
body > section > div:nth-child(2) ol li {
 width: 95%;
 box-sizing: border-box;
 margin: 0 auto;
 max-width: unset;
 background: transparent;
 color: var(--dGrey);
 padding: 1.5rem;
 border-radius: 0;
}
body > section > div:nth-child(2) ol li a {
  text-decoration: none;
  position: relative;
}
body > section > div:nth-child(2) ol li:nth-child(even) a:after {
  position: absolute;
  top: 0;
  right: -1rem;
  content: '';
  background: var(--lGreen);
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 100px;
}
body > section > div:nth-child(2) ol li:nth-child(2) {
  border-left: 8px solid var(--dBlue);
  margin: 0;
  width: 100%;
  background: var(--offBlue);
}
body > section > div:nth-child(2) ol li:last-child {
  border-top: 1px solid var(--lGrey);
}

/* Gallery */
/* Header */
body > header {
  max-width: 80%;
  margin: 2em auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
body > header figure {
  margin: 0;
}
body > header figure figcaption {
  font-size: var(--font-size3);
  color: var(--dGrey);
}
body > header img {
  width: 100%;
}
body > header div {
  padding: 2em 1em;
}
@media (max-width: 1400px) {
  body > header div h1 {
    font-size: var(--smaller1);
  }
}
@media (max-width: 1000px) {
  body > header {
    grid-template-columns: 1fr;
  }
}
/* Main */
body > main {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 250px;
  grid-gap: 1em;
}
body > main article {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  overflow: hidden;
}
body > main article:hover a, body > main article a:focus{
  transform: translatey(0);
}
body > main article a:focus {
  border-bottom: 5px solid var(--dBlue);
}
body > main article img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body > main article img, body > main article a{
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
body > main article a {
  transform: translatey(100%);
  transition: var(--baseTime);
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  text-decoration: none;
  will-change: transform;
}
body > main article h2 {
  margin: 0;
  color: white;
  font-family: Ampersand, var(--muli);
}
body > main article a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  z-index: -1;
}
/* Checkout */
nav + nav {
  display: grid;
  justify-items: center;
  box-shadow: none;
  background: transparent;
  max-width: 60%;
  margin: 0 auto;
}
nav + nav progress {
  width: 95%;
  -webkit-appearance: none;
   appearance: none;
   height: 8px;
   margin-bottom: 0.8rem;
}
nav + nav progress::-webkit-progress-bar {
  background: var(--slBlue);
}
nav + nav progress::-webkit-progress-value {
  background-image: linear-gradient(var(--dBlue), var(--lBlue));
}
nav + nav ol {
  display: grid;
  width: 100%;
  justify-content: space-between;
  grid-auto-flow: column;
}
nav + nav ol li {
  position: relative;
  color: var(--lGrey);
}
nav + nav a {
  color: var(--dGrey);
  text-decoration: none;
  font-weight: 600;
}
nav + nav ol li:before, nav + nav ol li:after {
  position: absolute;
  top: -1.9rem;
  left: 50%;
  transform: translatex(-50%);
}
nav + nav ol li:before {
  z-index: 1;
  font-family: Fontawesome;
  font-size: 0.7rem;
  content: '';
  color: var(--lBlue);
  top: -1.4rem;
}
nav + nav ol li:nth-child(2):before {
  content: '';
}
nav + nav ol li:nth-child(3):before {
  content: '';
  color: var(--slBlue);
}
nav + nav ol li:nth-child(4):before {
  content: '';
  color: var(--slBlue);
}
nav + nav ol li:after {
  content: '';
  width: 1.7rem;
  height: 1.7rem;
  border: 4px solid var(--lBlue);
  background: var(--white);
  border-radius: 100px;
  box-sizing: border-box;
}
nav + nav ol li:nth-child(4):after, nav + nav ol li:nth-child(3):after {
  border-color: var(--slBlue);
}
/* animations */
@keyframes dropIn {
  0% {
    transform: translateY(-100vh);
  }
  80% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0);
  }
}